@tailwind base;
@tailwind components;
@tailwind utilities;




  .fd {
    background: url(assets/img/norm.jpg );
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login {
    background: url(assets/img/login.png );
    background-size: cover;
    background-repeat: no-repeat;
  }

