@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    
  }

  .fd {
    background: url(assets/img/bg.jpg );
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(50);
  }

